<div class="mx-auto p-6 bg-card rounded-xl custom-shadow">
  <h2 class="text-lg font-bold mb-4">Clientes</h2>
  <div class="grid grid-cols-2 gap-4 mb-4">
    <div class="flex flex-col space-y-4">
      <app-input-form inputType="text" inputId="Codigo" label="Codigo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 56 56"
        >
          <path
            fill="currentColor"
            d="M8.746 37.703h7.149l-2.133 10.594a4 4 0 0 0-.07.75c0 1.148.796 1.781 1.898 1.781c1.125 0 1.945-.61 2.18-1.758l2.296-11.367h11.086L29.02 48.297c-.07.234-.093.516-.093.75c0 1.148.797 1.781 1.922 1.781s1.945-.61 2.18-1.758L35.3 37.703h8.367c1.289 0 2.18-.937 2.18-2.203c0-1.031-.703-1.875-1.758-1.875h-7.946L38.63 21.25h8.203c1.29 0 2.18-.937 2.18-2.203c0-1.031-.703-1.875-1.758-1.875H39.45l1.922-9.445c.023-.141.07-.446.07-.75c0-1.149-.82-1.805-1.945-1.805c-1.312 0-1.898.726-2.133 1.828l-2.062 10.172H24.215l1.922-9.445c.023-.141.07-.446.07-.75c0-1.149-.844-1.805-1.945-1.805c-1.336 0-1.946.726-2.157 1.828l-2.062 10.172h-7.687c-1.29 0-2.18.984-2.18 2.273c0 1.055.703 1.805 1.758 1.805h7.289l-2.485 12.375h-7.57c-1.29 0-2.18.984-2.18 2.273c0 1.055.703 1.805 1.758 1.805m12.14-4.078l2.509-12.375H34.48l-2.508 12.375Z"
          />
        </svg>
      </app-input-form>

      <app-input-form
        inputType="text"
        inputId="rut"
        label="R.U.T"
      ></app-input-form>
      <app-input-form inputType="text" inputId="nombre" label="Nombre">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19M12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4"
          />
        </svg>
      </app-input-form>
      <app-input-form inputType="text" inputId="dirección" label="Dirección">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 20 20"
        >
          <path
            fill="currentColor"
            d="m19.799 5.165l-2.375-1.83a2 2 0 0 0-.521-.237A2 2 0 0 0 16.336 3H9.5l.801 5h6.035c.164 0 .369-.037.566-.098s.387-.145.521-.236l2.375-1.832c.135-.091.202-.212.202-.334s-.067-.243-.201-.335M8.5 1h-1a.5.5 0 0 0-.5.5V5H3.664c-.166 0-.37.037-.567.099c-.198.06-.387.143-.521.236L.201 7.165C.066 7.256 0 7.378 0 7.5c0 .121.066.242.201.335l2.375 1.832c.134.091.323.175.521.235c.197.061.401.098.567.098H7v8.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-17a.5.5 0 0 0-.5-.5"
          />
        </svg>
      </app-input-form>
      <app-input-form inputType="text" inputId="ciudad" label="Ciudad">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="m7 9.01l.01-.011M11 9.01l.01-.011M7 13.01l.01-.011m3.99.011l.01-.011M7 17.01l.01-.011m3.99.011l.01-.011M15 21H3.6a.6.6 0 0 1-.6-.6V5.6a.6.6 0 0 1 .6-.6H9V3.6a.6.6 0 0 1 .6-.6h4.8a.6.6 0 0 1 .6.6V9m0 12h5.4a.6.6 0 0 0 .6-.6V9.6a.6.6 0 0 0-.6-.6H15m0 12v-4m0-8v4m0 0h2m-2 0v4m0 0h2"
          />
        </svg>
      </app-input-form>
      <app-input-form inputType="text" inputId="teléfono" label="Teléfono">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2"
          />
        </svg>
      </app-input-form>
      <app-input-form inputType="text" inputId="fax" label="Fax">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M8 20V4h10v5h1q1.25 0 2.125.875T22 12v8zm-3.5 1q1.05 0 1.775-.725T7 18.5v-8q0-1.05-.725-1.775T4.5 8t-1.775.725T2 10.5v8q0 1.05.725 1.775T4.5 21M10 9h6V6h-6zm6 5q.425 0 .713-.288T17 13t-.288-.712T16 12t-.712.288T15 13t.288.713T16 14m3 0q.425 0 .713-.288T20 13t-.288-.712T19 12t-.712.288T18 13t.288.713T19 14m-3 3q.425 0 .713-.288T17 16t-.288-.712T16 15t-.712.288T15 16t.288.713T16 17m3 0q.425 0 .713-.288T20 16t-.288-.712T19 15t-.712.288T18 16t.288.713T19 17m-9 0h4v-5h-4z"
          />
        </svg>
      </app-input-form>
      <app-input-form inputType="text" inputId="contacto" label="Contacto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <g
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path d="M16 2v2M7 22v-2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2M8 2v2" />
            <circle cx="12" cy="11" r="3" />
            <rect width="18" height="18" x="3" y="4" rx="2" />
          </g>
        </svg>
      </app-input-form>
      <app-input-form
        inputType="text"
        inputId="telContacto"
        label="Teléfono de Contacto"
      ></app-input-form>

      <div class="flex space-x-4">
        <!-- Contenedor con flex y espacio entre elementos -->
        <app-input-form
          inputType="text"
          inputId="telContacto"
          label="Giro"
        ></app-input-form>

        <app-select-form
          class="flex-grow"
          selectId="mySelect"
          label="Selecciona una opción"
          [options]="[
            { value: '1', label: 'Opción 1' },
            { value: '2', label: 'Opción 2' },
            { value: '3', label: 'Opción 3' }
          ]"
        >
        </app-select-form>
      </div>

      <app-input-form
        inputType="text"
        inputId="abreviaturaNombre"
        label="Abreviatura Nombre"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19M12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4"
          />
        </svg>
      </app-input-form>
    </div>

    <div class="flex flex-col items-center justify-center h-full">
      <!-- Contenedor principal centrado -->
      <div
        class="flex flex-col space-y-4 p-4 bg-blue-50 rounded w-full max-w-md"
      >
        <!-- Contenedor secundario -->
        <h2 class="font-bold text-red-600 text-center">CLIENTE BLOQUEADO</h2>

        <app-input-form
          inputType="text"
          inputId="montoFacturado"
          label="Monto Facturado"
          placeholder="0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M12 12.5a3.5 3.5 0 1 0 0 7a3.5 3.5 0 0 0 0-7M10.5 16a1.5 1.5 0 1 1 3 0a1.5 1.5 0 0 1-3 0"
            />
            <path
              fill="currentColor"
              d="M17.526 5.116L14.347.659L2.658 9.997L2.01 9.99V10H1.5v12h21V10h-.962l-1.914-5.599zM19.425 10H9.397l7.469-2.546l1.522-.487zM15.55 5.79L7.84 8.418l6.106-4.878zM3.5 18.169v-4.34A3 3 0 0 0 5.33 12h13.34a3 3 0 0 0 1.83 1.83v4.34A3 3 0 0 0 18.67 20H5.332A3.01 3.01 0 0 0 3.5 18.169"
            />
          </svg>
        </app-input-form>
        <app-input-form
          inputType="text"
          inputId="montoFactura"
          label="Monto x Facturar"
          placeholder="4.012,538"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M12 12.5a3.5 3.5 0 1 0 0 7a3.5 3.5 0 0 0 0-7M10.5 16a1.5 1.5 0 1 1 3 0a1.5 1.5 0 0 1-3 0"
            />
            <path
              fill="currentColor"
              d="M17.526 5.116L14.347.659L2.658 9.997L2.01 9.99V10H1.5v12h21V10h-.962l-1.914-5.599zM19.425 10H9.397l7.469-2.546l1.522-.487zM15.55 5.79L7.84 8.418l6.106-4.878zM3.5 18.169v-4.34A3 3 0 0 0 5.33 12h13.34a3 3 0 0 0 1.83 1.83v4.34A3 3 0 0 0 18.67 20H5.332A3.01 3.01 0 0 0 3.5 18.169"
            />
          </svg>
        </app-input-form>
        <app-input-form
          inputType="text"
          inputId="totalDeuda"
          label="Total Deuda"
          placeholder="4.012,538"
        ></app-input-form>
        <app-input-form
          inputType="text"
          inputId="diasVencidos"
          label="Días Vencidos"
          placeholder="0"
        ></app-input-form>
        <app-input-form
          inputType="number"
          inputId="dias"
          label="Días"
          placeholder="0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"
            />
            <path
              fill="currentColor"
              d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2M19 8l.001 12H5V8z"
            />
          </svg>
        </app-input-form>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 mb-4">
    <div class="flex flex-col space-y-4">
      <app-input-form inputType="text" inputId="email" label="Email">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 16 16"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M14.95 3.684L8.637 8.912a1 1 0 0 1-1.276 0l-6.31-5.228A1 1 0 0 0 1 4v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-.05-.316M2 2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2m-.21 1l5.576 4.603a1 1 0 0 0 1.27.003L14.268 3z"
          />
        </svg>
      </app-input-form>

      <div class="flex space-x-4">
        <!-- Contenedor con flex y espacio entre elementos -->
        <app-input-form
          inputType="text"
          inputId="email"
          label="Colectible"
        ></app-input-form>

        <app-select-form
          class="flex-grow"
          selectId="mySelect"
          label="Selecciona una opción"
          [options]="[
            { value: '1', label: 'Opción 1' },
            { value: '2', label: 'Opción 2' },
            { value: '3', label: 'Opción 3' }
          ]"
        >
        </app-select-form>
      </div>

      <div class="flex space-x-4">
        <!-- Contenedor con flex y espacio entre elementos -->
        <app-input-form
          inputType="text"
          inputId="email"
          label="Forma de Pago"
        ></app-input-form>

        <app-select-form
          class="flex-grow"
          selectId="mySelect"
          label="Selecciona una opción"
          [options]="[
            { value: '1', label: 'Opción 1' },
            { value: '2', label: 'Opción 2' },
            { value: '3', label: 'Opción 3' }
          ]"
        >
        </app-select-form>
      </div>
    </div>

    <div class="flex flex-col space-y-4">
      <app-input-form inputType="text" inputId="email" label="Dias">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"
          />
          <path
            fill="currentColor"
            d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2M19 8l.001 12H5V8z"
          />
        </svg>
      </app-input-form>
      <app-input-form
        inputType="text"
        inputId="email"
        label="Seguro Guia"
      ></app-input-form>
      <app-select-form
        class="flex-grow"
        selectId="mySelect"
        label="Vendedor Corporativo"
        [options]="[
          { value: '1', label: 'Opción 1' },
          { value: '2', label: 'Opción 2' },
          { value: '3', label: 'Opción 3' }
        ]"
      >
      </app-select-form>
    </div>
  </div>
  <app-simple-dialog
*ngIf="isModalOpen"
(closeModalEvent)="closeModal()"
></app-simple-dialog>

  <div class="flex justify-end space-x-3">
    <button
      type="reset"
      class="bg-muted text-muted-foreground hover:bg-gray-300 px-4 py-2 rounded-full"
    >
      RESET
    </button>
    <button
      type="submit"
      class="bg-blue-500 text-white hover:bg-primary/80 px-4 py-2 rounded-full"
      (click)="openModal()"

    >
    
      NEXT
    </button>
  </div>
</div>

